---
import { getDirectusClient } from '../../utils/get-directus-client'
import Post from "./Post.astro";
import config from "../../config.mjs";

const { postLimit = config.latestPosts, skipPost = "" } = Astro.props;

const params =  {
  fields: ['*'],
  limit: postLimit,
};

if ( skipPost != '' ) {
  params.filter = {
    "id": {
      "_neq": skipPost
    }
  }
}

const posts = await getDirectusClient( 
  'Blog', 
  params
)
---
<section class="container mx-auto max-w-screen-lg px-7 py-10 mb-10">
    {
        posts.map((post, index) => {
          return <Post postData={post} num={index} />;
        })
    }
</section>
